<div style="margin-top: 20px;">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" placeholder="Enter your firstname" name="firstname" formControlName="firstname"> <br>
    <span *ngIf="fnameValidation.touched && fnameValidation.errors?.['required']">*This filed is required</span>
    <span *ngIf="fnameValidation.touched && fnameValidation.errors?.['noSpaceAllowed']">*No space allowed for first name.</span>
    <span *ngIf="fnameValidation.touched && fnameValidation.errors?.['pattern']">*Only charecter are allowed.</span><br>

    <input type="text" placeholder="Enter your lastname" name="lastname" formControlName="lastname"> <br>
    <span *ngIf="lnameValidation.touched && lnameValidation.invalid">*This filed is required</span><br>

    <input type="date" name="bod" formControlName="bod"><br>

    <input type="text" placeholder="Enter your password" name="password" formControlName="password"> <br>
    <span *ngIf="passwordValidation.touched && passwordValidation.invalid">*This filed is required</span><br>

    <input type="text" placeholder="Username" formControlName="username" [ngStyle]="loginForm.get('username').errors?.['checkUsername']?{'border-color':'red'}:{'border-color':'black'}"><br>
    <span *ngIf="loginForm.get('username').touched && loginForm.get('username').errors?.['checkUsername']" >*This username is not allowed</span><br>

    <button [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

