<h2 class="notification"> {{count}} notification works!</h2>
<img [src]="image" alt="">

<h1>box value is :{{name}}</h1>
<input type="text" [value]="name" #changeName (keyup)="OnChangeName(changeName.value)">  <!--declare to parameter of function -->
<button (click)='OnChangeName(changeName.value)'>Change-Name</button>
<br>
<br>

<button (click)="decresQty()">-</button>
<h3>QTY</h3>
<p>{{qty()}}</p>
<button (click)="increseQty()">+</button>
<br>
<br>

<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
    <h1>if condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else condition</h1>
</ng-template>
<br>
<br>

<h1 *ngFor="let i of user">{{i.email}}</h1>
<br>
<br>

<h4>Form</h4>
<form #form="ngForm" (ngSubmit)="getdata(form.value)">
    <input type="emai" ngModel name="email" placeholder="Enter Email"><br><br>
    <input type="text" ngModel name="password" placeholder="Enter password"><br><br>
    <button>Log-In</button><br><br>
</form>

<p>{{userData.email}}</p> <p>{{userData.password}}</p>

