<p style="margin-top: 30px;">Read More....</p>
<p style="cursor: pointer;font-size: 30px;" (click)="diplatText()"  #para>{{display?mines:pluse}}</p>
<div *appStructural="display"> /* if the use of structural (*) */
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum et quae sapiente iste, voluptas veritatis ex
    qui vero inventore, nam autem? Dolorum ratione quia esse porro iure, voluptatem molestiae et?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum et quae sapiente iste, voluptas veritatis ex
    qui vero inventore, nam autem? Dolorum ratione quia esse porro iure, voluptatem molestiae et?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum et quae sapiente iste, voluptas veritatis ex
    qui vero inventore, nam autem? Dolorum ratione quia esse porro iure, voluptatem molestiae et?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum et quae sapiente iste, voluptas veritatis ex
    qui vero inventore, nam autem? Dolorum ratione quia esse porro iure, voluptatem molestiae et?</p>
</div>
